<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        // Load data here
        var data_for_chart = {{ data_for_chart | safe }}
        
        chartType = "BarChart";
        containerId = "chart1";
        options = {"title":"Comapre Execution Time of Sorting Algorithms",
                    "hAxis": {"title": "Execution Time"},
                    "vAxis" : {"title": "Sorting Algorithm"},
                    
        };
    </script>

    <script>
        // Draw Chart Here
        google.charts.load('current', {'packages':['corechart']});  
        google.charts.setOnLoadCallback(drawChart);


        function drawChart(){
          
          var data = new google.visualization.DataTable();
          data.addColumn('string','Mag range');
          data.addColumn('number','Count');
          data.addRows(data_for_chart);
          google.visualization.drawChart({
            "containerId": containerId,
            "dataTable": data,
            "chartType": chartType,
            "options": options
          });
        }
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid">
            <h3>
            <a class="navbar-brand" href="{{url_for('home_function')}}">HOME</a> 

            <a class="navbar-brand" href="{{url_for('compare_function')}}">COMPARE-ALGORITHMS</a>
            </h3>
        </div>
    </nav>

    <div class="p-3"> 
        <b> {{input_size_string}} </b>
        <div style="width:900px; height:500px" id="chart1"></div>
        <br>  



  
       





   </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>